.post {
    position: relative;
    margin: 0px;
    padding: 10px 20px;
    border-bottom: 0.5px solid #e7edf0;
}
.retweet_tag {
    margin: 0px 30px;
    color: gray;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.retweet_tag > .MuiSvgIcon-root {
    margin-right: 15px;
    font-size: 1.2rem !important;
}
.post_item {
    display: flex;
}
.post_item_user_image {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}
.post_item_user_image:hover {
    filter: brightness(0.8);
}
.post_item_content {
    margin: 0px;
    margin-left: 10px;
    flex: 1;
}
.post_item_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_item_header_info {
    display: flex;
}
.post_item_header_info > h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 10px;
}
.post_item_header_info > p {
    color: gray;
    font-size: 1rem;
    margin-right: 10px;
}
.post_item_header_more > .MuiSvgIcon-root {
    border-radius: 30px;
    /* padding: 8px; */
    cursor: pointer;
}
.post_item_header_more > .MuiSvgIcon-root:hover {
    background-color: #eeeded;
}
.post_item_body {
    margin: 0px;
}
.post_item_body_text {
    margin: 0px;
    white-space: pre-wrap;
    color: #0f1419;
}
.post_item_body_link {
    border: 1.5px solid #d3d3d3;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    padding: 0px;
    margin: 10px 0px;
}
.post_item_body_link > img {
    max-height: max-content;
    width: 100%;
    object-fit: contain;
    left: 0px;
    border-radius: 15px 0px 0px 15px;
}
.post_item_body_link > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}
.post_item_body_link > div > p{
    margin: 0px;
    font-size: 0.9rem;
    color: gray;
}
.post_item_footer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_item_footer > span {
    display: flex;
    align-items: center;
}
.post_item_footer > span > .MuiSvgIcon-root {
    font-size: 1.2rem !important;
    margin-right: 15px;
    cursor: pointer;
}
.post_item_footer > span > .MuiSvgIcon-root:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .post_item_footer > span > .MuiSvgIcon-root {
        margin-right: 5px;
    }
    .post_item_footer {
        width: 100%;
    }
    .post_item_header_info > p {
        display: none;
    }
    .post_item_user_image {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 690px) {
    .post_item_body_link > div > p{
        font-size: 0.7rem;
    }
}