.whoToFollow {
  background-color: #f5f4f4;
  margin: 15px 0px;
  border-radius: 15px;
}
.whoToFollow_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 10px 15px;
}
.whoToFollow_header > h3 {
  margin: 0px;
}

.whoToFollow_footer {
  padding: 15px;
  border-radius: 0px 0px 15px 15px;
}
.whoToFollow_footer:hover {
  background-color: #dadada;
}
.whoToFollow_footer > a {
  text-decoration: none;
  color: #1da1f2;
  font-weight: 500;
}
